@charset "utf-8";

body{
	margin:0px;
	padding:0px;
	background-color:#161616;	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

.header {
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../images/bg.png");
	background-color: #edf1fd;
}
.header__nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}
 
.header__menu {
	display: flex;
}
.header__menu-item {
	padding: 10px 15px;
	color:#6c707c;
	font-size: 12px;
}
.header__language{
	color:#292929;
}
.header__logo{
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family: calibri;
}
.header__menu-item:hover{
	background-color:#292929;
	color:#FFF;
	font-weight: bold;
	transition: all ease 0.4s;
}


.cover__text{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.cover__hello, .cover__details{
	color:#6c707c;
	font-size: 16px;
}
.cover__title{
	font-family: calibri;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.cover__cv-button{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color:#FFFFFF;
}
.cover__cv-button:hover{
	background-color: #131313;
	transition: all ease 0.5s;
}

.cover__black-line {
  	align-self: end;
  	width: 50%;
  	height: 15%;
  	margin-bottom: 4em;
  	position: absolute;
	bottom:0px;
	left: -3%;
	border-right: 1px solid  rgba(41,41,41,0.30);
}
 
.cover__black-line::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 11px 0 11px;
	border-color:  #292929 transparent transparent transparent;
	right: -.7em;
	bottom: -2px;
}


.about{
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about__text{
	font-family: calibri;
	width: 50%;
}
.about__text h1{
	font-size: 5rem;
	color:#17d1ac;
}
.about__text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about__text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about__text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}
.about__text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#17d1ac;
}
.about__text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

.about-graph-clustering {
	flex-direction: row-reverse;
}


.interests {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
}

.interests__heading h1{
    color:#FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.interests__heading p{
    color:rgba(255,255,255,0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.s-heading{
    text-align: center;
    margin: 20px 0px;
}

.s-box{
    background-color: #2B2B2B;
    width:350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}

.b-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.s-b-img{
    width: 100%;
    height: 70%;
}

.s-b-img img{
    width: 100%;
    height: 100%;
}

.s-b-text{
    width: 100%;
    height: 30%;
    background-color:#1E1E1E;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s-b-text a{
    margin: 0px;
    color:#FFFFFF;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-b-text a:hover{
    color:rgba(255,255,255,0.50)
}

.s-type{
    font-family: calibri;
	text-align: center;
    color:#FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.s-box:hover{
    transform:translateY(-10px);
    transition: all ease 0.3s;
}



.contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}
.contact__heading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: calibri;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid #1E1E1E;
}
.contact__button{
	width: 150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);

	display: flex;
	justify-content: center;
	align-items: center;

	color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
}

.contact__button:hover{
	background-color: #17d1ac;
	color:#000000;
	transition: all ease 0.5s;
	font-weight: bold;
}

